@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,200;1,300&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

* {
    font-family: 'Kanit', sans-serif;
}

.page-wrapper {
    width: 500px;
}

.page-wrapper > * + * {
    margin-top:16px;
}

p {
    font-size: 12px;
}

.extra1 {
    background-color: red;
}

.extra1 {
    background-color: orange;
}